<% content_for :title do %>Edit Series<% end %>
<div class="row">
  <span class="span3">
    <h2>Edit Arena:</h2>
  </span>
</div>
<%= render 'form' %>
<b>Warning:</b> If you change your selected Hero in the middle arena you will need to go back and change any previous reported wins or losses during this series for your "Win Rate as Class" and "Win Rate against Class." Otherwise your values will be incorrect and NOT reflect your Hero change. This can be done with the "Edit Stat's" button on the "My Stats" page. Remember: Changing your Hero here will not update your previously reported wins or losses for THIS series.
<br>
<br>