<% content_for :title do %>New Series<% end %>
<div class="row">
  <span class="span3">
    <h2>New Arena:</h2>
  </span>
</div>
<div class="row">
  <span class="span3">
    <p>Please select your hero:</p>
  </span>
</div>
<div class="row">
  <span class="span2">
    <%= form_for @arena do |f| %>
    <table>
      <tr>
        <th>
          Your Hero:
        </th>
      </tr>
      <tr>
        <td>
          <%= f.collection_select :hero, Match::HEROES, :to_s, :to_s, :include_blank => false %>
        </td>
      </tr>
      <tr>
        <td colspan="3"><%= f.submit "Start Series", class: "btn btn-primary" %></td>
      </tr>
    </table>
    <% end %>
  </span>
</div>