<% content_for :title do %>You shouldn't be here...<% end %>
<div class="row">
  <span class="span6">
    <P>Why are you here? O.o</P>
    <P>I don't know! <%= link_to "Get me out of here!", root_path %>
  </span>
</div>